<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @subscription.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @subscription.last_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @subscription.street_address %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @subscription.unit %>
</p>

<p>
  <strong>City:</strong>
  <%= @subscription.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @subscription.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @subscription.country %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @subscription.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscription.user.try(:email) %>
</p>
